.about-section{
    width: 75%;
    margin: auto;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-content{
    width: 432px;
}

.about-content h1, 
.our-boat-ride h1, 
.why-choose-us h1,
.testimonials h1{
    font-size: 33.5px;
}

.about-image img{
    width: 410px;
    height: 457px;
    object-fit: cover;
    border-radius: 6px;
}

.boatride-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.boatride-content a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.boatride-content a img{
    width: 283px;
    height: 400px;
    object-fit: cover;
}

.boatride-content a button{
    padding: 8px 16px;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
}

.wcu-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 430px;
}

.wcu-section .wcu-left,
.wcu-section .wcu-image,
.wcu-section .wcu-right{
    flex-basis: calc(33%);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;
}

.wcu-section h3{
    line-height: 0;
}

.wcu-image img{
    width: 319px;
    height: 319px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 1249px) {
    .about-section {
        width: 94%;
    }
}

@media screen and (max-width: 941px) {
    .about-section {
        width: 99%;
    }

    .about-content{
        width: auto;
    }
}

@media screen and (max-width: 895px) {
    .boatride-content a img{
        width: 325px;
        height: auto;
        object-fit: cover;
    }
}