/* .content-section {
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.about-content{
    padding: 20px;
}

.section-title {
    color: #0077cc;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tour-article {
    margin-bottom: 20px;
}

.tour-article-title {
    color: #555;
    margin-top: 0;
}

.tour-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.tour-item {
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}

.link {
    color: #0077cc;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1249px) {
    .content-section {
        width: 94%;
    }
} */


.about-section{
    width: 75%;
    margin: auto;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-content{
    width: 432px;
}

.about-content h1, 
.our-boat-ride h1, 
.why-choose-us h1,
.testimonials h1{
    font-size: 33.5px;
}

.about-image img{
    width: 410px;
    height: 457px;
    object-fit: cover;
    border-radius: 6px;
}

.boatride-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.boatride-content a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.boatride-content a img{
    width: 283px;
    height: 400px;
    object-fit: cover;
}

.boatride-content a button{
    padding: 8px 16px;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    background: black;
    color: white;
}

@media screen and (max-width: 1249px) {
    .about-section {
        width: 94%;
    }
}

@media screen and (max-width: 941px) {
    .about-section {
        width: 99%;
    }

    .about-content{
        width: auto;
    }
}