body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}

nav{
    width: 75%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #000000;
}

/* nav h4{
    display: flex;
    align-items: center;
} */

/* nav h4 img{
    width: 25px;
    height: 25px;
    margin-left: 3px;
} */

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 3px 15px;
}

nav ul li:nth-last-child(1){
    background: #000000;
    border-radius: 6px;
    padding: 5px 20px;
    transition: .3s linear;
    cursor: pointer;
}

nav ul li:nth-last-child(1) a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

nav ul li:nth-last-child(1):hover{
    background: #393838;
}

nav ul li:nth-last-child(1) a{
    color: #fff;
}

nav ul li:nth-last-child(1) a:hover{
    color: #ffffff;
}

nav ul li a{
    text-decoration: none;
    color: #121213;
    font-size: 13px;
    font-weight: 500;
    transition: .3 linear;
}

nav ul li a:hover{
    color: gray;
}

nav .bi-three-dots{
    display: none;
}

/* Before Footer Section */
.before_footer{
    width: 100%;
    height: auto;
    background: rgb(241, 241, 241);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
    padding: 20px 0;
}

.before_footer h2{
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 600;
}

.before_footer .ff_p{
    text-align: center;
    width: 400px;
    font-size: 14px;
}

.before_footer .input_bx{
    box-shadow: 0px 3px 20px -1px gray;
    border-radius: 6px;
}

.before_footer .input_bx input{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 6px 0px 0px 6px;
}

.before_footer .input_bx button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 0px 6px 6px 0px;
    background: #000000;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

.before_footer .input_bx button:hover{
    background: #393838;
}

/* .before_footer ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.before_footer ul li{
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
} */

/* .before_footer ul li .fs_p{
    font-size: 13px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid black;
    padding-top: 3px;
} */

.social-links {
    display: flex;
    align-items: center;
    margin-top: 21px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    gap: 10px;
}

.social-links a:hover {
    background: #000000;
    border-color: transparent;
    color: #fff;
}

.footer .container{
	max-width: 84%;
	margin:auto;
}
.footer .row{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.footer ul{
	list-style: none;
    padding: unset;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   /* width: 25%; */
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/* .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} */

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.whatsapp_btn {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 6%;
    right: 18px;
    border-radius: 50%;
    background-color: #25D366; /* WhatsApp green color */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.1s ease-in-out; /* Smooth transition */
}

.whatsapp_btn:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

.popup{
    width: 280px;
    background: #000;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 10;
}

.open-popup{
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2, .popup P{
    color: white !important;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100% !important;
    margin-top: 20px !important;
    padding: 10px 0 !important;
    background: #6fd649 !important;
    color: #fff !important;
    border: 0 !important;
    outline: none !important;
    font-size: 18px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) !important;
}

/* Animation for vibration effect */
@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(-2px, -2px); }
}

.whatsapp_btn:active {
    animation: vibrate 0.3s ease-in-out infinite; /* Apply vibration effect on click */
}

/* SVG styles */
.whatsapp_btn svg {
    width: 65%; /* Adjust the size of the SVG icon */
    fill: #ffffff; /* Icon color */
}

@media screen and (max-width: 1249px) {
    nav {
        width: 94%;
    }
}

/* @media screen and (max-width: 950px) {
    nav {
        width: 88%;
    }
} */

@media screen and (max-width: 729px){
    nav{
        width: 88%;
    }

    nav ul{
        position: absolute;
        width: 204px;
        height: auto;
        flex-direction: column;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0px 0px 10px gray;
        justify-content: center;
        top: -100%;
        right: 30%;
        z-index: 150;
        padding: 10px 20px;
        transition: 0.4s linear;
    }

    nav .ul_active{
        top: 0;
    }

    nav ul li{
        padding: 8px 0px;
        text-align: center;
    }

    nav .bi-three-dots{
        display: unset;
    }
}

/* @media screen and (max-width: 580px){
    .before_footer ul li .fs_p{
        font-size: 8px;
    }

} */

/* @media screen and (max-width: 411px){
    .before_footer .ff_p{
        width: -webkit-fill-available;
        box-sizing: border-box;
        padding: 0 11px;
    }
    .before_footer ul li{
        margin-right: 20px;
    }
} */