{% load static %}
<header>
        <div class="content">
            <div class="cont_bx">
                <h1><strong>Boatwale!</strong> Your trusted partner for boat booking!</h1>
                <p>Creative taglines have the capability of capturing the attention of potential custumer.</p>
                <a href="{% url "boat-tours" %}"><button>Book your Boat</button></a>
            </div>
            <div class="trip_bx">
                <div class="search_bx">
                    <div class="card">
                        <label for="location">Location<svg class="bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" height="16" width="10.75" viewBox="0 55 367 307"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></label>
                        <input type="text" id="location" placeholder="Enter your destination">
                    </div>
                    <div class="card">
                        <label for="boat_type">Boat Type<svg class="bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" height="16" width="10.75" viewBox="0 55 367 307"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></label>
                        <select name="boat_type" id="boat_type">
                            <option value="">--Please choose Boat--</option>
                            {% for product in products %}
                                <option value="{{product.name}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card">
                        <label for="route">Route<svg class="bi bi-caret-down-fill" xmlns="http://www.w3.org/2000/svg" height="16" width="10.75" viewBox="0 55 367 307"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></label>
                        <select name="route" id="route">
                            {% for product in products %}
                                <option value="{{product.name}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="button" value="Explore Now">
                </div>                
                <div class="travel_bx">
                    <h2>States to travel</h2>
                    <div class="cards">
                        {% for category in categories %}
                            <div class="card">
                                <p>{{category.name}}</p>
                                <img fetchpriority="high" loading="lazy" src="{{category.image.url}}" alt="varanasi tour">
                                <div class="btn_city">
                                    <a href="">Book Now</a>
                                    <h4>{{category.boat.name}}<br> <span>{{category.new_price}}</span></h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% comment %} <div class="card">
                            <h3>Vrindavan<img fetchpriority="high" loading="lazy" src="{% static "images/icons/vrindavan-icon.webp" %}" alt="vrindavan icon"></h3>
                            <img fetchpriority="high" loading="lazy" src="{% static "images/tour-images/vrindavan-tour.webp" %}" alt="vrindavan tour">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h4>Vrindavan Tour <br> <span>₹ 10,000</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <h3>Ayodhya<img fetchpriority="high" loading="lazy" src="{% static "images/icons/ayodhya-icon.webp" %}" alt="ayodhya icon"></h3>
                            <img fetchpriority="high" loading="lazy" src="{% static "images/tour-images/ayodhya_tour.webp" %}" alt="ayodhya tour">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h4>Ayodhya Tour <br> <span>₹ 15,000</span></h4>
                            </div>
                        </div>
                        <div class="card">
                            <h3>Bodhgaya<img fetchpriority="high" loading="lazy" src="{% static "images/icons/bodhgaya-icon.webp"%}" alt="bodhgaya icon"></h3>
                            <img fetchpriority="high" loading="lazy" src="{% static "images/tour-images/bodhgaya-tour.webp" %}" alt="bodhgaya tour">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h4>Bodhgaya Tour <br> <span>₹ 5,000</span></h4>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
</header>