{% load static %}
{% block cssblock %}
    <!-- Preload hero.css stylesheet -->
    <link rel="preload" href="{% static "css/hero.css" %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{% static "css/hero.css" %}"></noscript>
    {% comment %} <link rel="preload" href="{% static 'images/tour-images/varanasi-ghat.webp' %}" as="image"> {% endcomment %}
{% endblock cssblock %}
<div class="banner" style="background: linear-gradient(0deg, #000000a8, transparent), url("/media/{{content.featured_image}}") no-repeat center center / cover;">
    <h1>{{title}}</h1>
    <ol>
        <li>Home <span>/</span></li>
        <li>Product <span>/</span></li>
        <li>Shop</li>
    </ol>
</div>