{% extends "base.html" %}
{% load static %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock cssblock %}


{% block content %}
    <section class="user-section">
      <div class="left-side">
        <div class="user-profile-image">
          <img src="{% static 'images/favicon/boatwale_logo.png' %}" alt="">
          <h2>Shiv Shambhu</h2>
        </div>

        <div class="side-navbar">
          <ul>
            <li><i class="fas fa-user"></i>Profile Information</li>
            <li><i class="fa-solid fa-cart-shopping"></i>Booking History</li>
            <li><i class="fa-regular fa-credit-card"></i>Payment Information</li>
            <li><i class="fa-solid fa-asterisk"></i>Preferences</li>
            <li><i class="fa-solid fa-comments"></i>Reviews and Feedback</li>
            <li><i class="fa-solid fa-headset"></i>Support and Help</li>
            <a href="{% url "userlogout" %}"><li><i class="fa-solid fa-right-from-bracket"></i>Logout</li></a>
          </ul>
        </div>
      </div>
      <div class="right-side"></div>
    </section>
{% endblock content %}

{% block jsblock %}
{% endblock jsblock %}